/* Common Settings */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url("./assets/images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
    user-select: none;
    display: flex;
    flex-direction: column;
}


/* End of Common Settings */

/* Header */
.header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid beige;
    padding: 10px;
    background-color: rgba(0, 0, 0, .6);
}

.title {
    margin: 20px;
    font-size: 4rem;
    color: beige;
    text-shadow: 2px 3px 4px #000000;
}

.nav-links {}

.menu-link,
.home-link,
.about-link {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 50px;
    border: none;
    color: beige;
    font-size: 2rem;
    text-shadow: 2px 3px 4px #000000;
    cursor: pointer;
    transition: all 0.3s;
}

.home-link:hover,
.menu-link:hover,
.about-link:hover {
    color: rgb(247, 247, 239);
    transform: scale(1.2);
}

/* End of Header */

/* Container */

.container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* End of Container */

/* Home */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting {
    color: white;
    font-size: 5rem;
    margin: 50px 0;
    text-shadow: 2px 3px 4px #000000;
}

.word {}


.greeting-sub {
    margin: 0;
    color: wheat;
    font-size: 4rem;
    border-bottom: 5px solid beige;
    padding-bottom: 50px;
    text-shadow: 2px 3px 4px #000000;
}

.paragraph {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 3px 4px #000000;
}

.btn {
    font-size: 1.5rem;
    padding: 20px;
    background-color: beige;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    margin-bottom: 50px;

}

.btn:hover {
    transform: scale(1.1);
    background-color: rgb(243, 154, 154);
}

.footer {
    height: 50px;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: auto;
}

/* End of Home */

/* Menu */

/* End of Menu */

.menu-item {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1rem;
    padding: 20px;
}

.test {
    width: 100px;
}

.menu {
    height: 400px;
    padding: 50px;
    width: 1500px;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 8px 9px 11px 2px rgba(0, 0, 0, 0);
    filter: blur(0px);
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.aboutUs-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about {
    padding: 50px;
    font-size: 1.4rem;
}

.icon {
    margin-right: 10px;
}

.aboutus {
    height: 500px;
    max-width: 1500px;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frame {
    margin: 20px;
    border: 10px solid beige;
    border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
    .menu-item {
        font-size: .6rem;
    }

    .about {
        padding: 0;
    }

    iframe {
        width: 400px;
        height: 220px;
    }

    .frame {
        width: 400px;
        height: 220px;
    }

    .aboutus {
        height: 300px;
    }
}